In [1]:
import math
import collections

import numpy as py
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [3]:
capitals = {"United States": "Washington, DC", "France": "Paris", "Italy":"Rome"}

In [4]:
capitals

{'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [5]:
capitals["France"]

'Paris'

In [6]:
capitals["Italy"]

'Rome'

In [7]:
capitals["United States"]

'Washington, DC'

In [8]:
capitals["Spain"] = "Madrid"

In [9]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid'}

In [10]:
capitals["Germany"] = "Berlin"

In [11]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin'}

In [12]:
capitals["Germany"]

'Berlin'

In [13]:
morecapitals = {"UK": "London", "Canada": "Ottawa"}

In [14]:
capitals + morecapitals
#cant add them

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [15]:
capitals.update(morecapitals)

In [16]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'UK': 'London',
 'Canada': 'Ottawa'}

In [17]:
birthdays = {(6,10) : "Zumran", (8,14): "Zahin"}

In [19]:
birthdays[(6,10)]

'Zumran'

In [20]:
birthdays[(8,14)]

'Zahin'

In [21]:
len(birthdays)

2

In [24]:
for key in birthdays:
    print(birthdays[key])

Zumran
Zahin

In [28]:
for capital in capitals:
    print(capital,capitals[capital])

United States Washington, DC
France Paris
Italy Rome
Spain Madrid
Germany Berlin
UK London
Canada Ottawa

In [29]:
capitals.keys()

dict_keys(['United States', 'France', 'Italy', 'Spain', 'Germany', 'UK', 'Canada'])

In [30]:
continents = {'America', "Europe", "Asia", "Oceania", "Africa", "Africa"}

In [31]:
continents

{'Africa', 'America', 'Asia', 'Europe', 'Oceania'}

In [32]:
"Africa" in continents

True

In [36]:
continents.add("Antarctica")

In [37]:
continents.add("Greenland")

In [38]:
continents

{'Africa', 'America', 'Antarctica', 'Asia', 'Europe', 'Greenland', 'Oceania'}

In [40]:
for continent in continents:
    print(continent)

America
Greenland
Oceania
Africa
Asia
Antarctica
Europe